# Ignore the virtual environment
tryton-venv/
venv/

# Ignore configuration files with sensitive data
*.conf
config/

# Ignore python cache
__pycache__/
*.pyc

# Ignore local databases
*.sqlite
parties.xlsx
products_RC.xlsx
RM Product Category.xlsx
RM Product List.xlsx
connect_test.py
import_child_cat.py
import_party.py
import_product.py
purchase_requisition_bulk/
sale_web_order/

# Docker configuration files
Dockerfile
docker-compose.yml